tr
  td
    a(href="/products/" + line.product.id)= line.product.description
    small= line.product.type.name
  td
    //- If `originalPrice` is present, it means `price` is the result of an adjustment.
    - if(line.product.originalPrice)
      = line.product.originalPrice.toCurrency()
    - else
      = line.product.price.toCurrency()
  td= line.quantity
  td
    - if(line.product.originalPrice)
      = (line.product.originalPrice - line.product.price).toCurrency()
    - else
      | -
  - if(line.tax)
    td
      abbr(title=line.tax.schedule.rate*100 + "% - " + line.tax.schedule.jurisdiction.name)
        = line.tax.amount.toCurrency()
  - else
    td -
  td
    strong= line.amount.toCurrency()
