tr
  td
    a(href="/products/" + line.product.id)= line.product.description
    small= line.product.type.name
  td= line.product.price.toCurrency()
  td= line.quantity
  td ?
  - if(line.tax)
    td
      abbr(title=line.tax.schedule.rate*100 + "% - " + line.tax.schedule.jurisdiction.name)
        = line.tax.amount.toCurrency()
  - else
    td
  td
    strong= line.amount.toCurrency()
