tr
  th.c
    input(type="checkbox")
  td
    a(href="/products/" + line.product.id)= line.product.description
    br
    small= Object.values(line.product.specifications).join(' ')
  td.r
    //- If `originalPrice` is present, it means `price` is the result of an adjustment.
    - if(line.product.originalPrice)
      = line.product.originalPrice.toCurrency()
    - else
      = line.product.price.toCurrency()
  td.r= line.quantity
  td.r
    - if(line.product.originalPrice)
      = (line.product.originalPrice - line.product.price).toCurrency()
    - else
      | -
  - if(line.tax)
    td.r
      abbr(title=line.tax.schedule.rate*100 + "%")
        = line.tax.amount.toCurrency()
  - else
    td.r -
  td.r
    strong= (line.amount || "Unknown!").toCurrency()
  td.c
    small
      a(href="#") History