tr
  td
    strong= order.id
  td
    a(href="/customers/" + order.customer.id)= order.customer.name
  td= "$" + order.amount
  td= date(order.created)
  td
    span.status!= order.status
  td
    a(href="/orders/" + order.id) Details &raquo;