table
  thead
    tr
      th.c ID
      th Tracking #
      th Shipment
      th Origin
      th Destination
      th Status
      th
  tbody
    - each package in order.packages
      tr
        th.c
          a(href="/packages/" + package.id)= package.id
        td
          - if(package.status === "Shipped")
            a(href="#")= package.trackingNumber
          - else 
            small Hasn't shipped
        td
          = package.container.description
          br
          small
            | via
            = package.shippingMethod ? package.shippingMethod.name : 'Unknown'
        td
          abbr(title=address(package.origin.address))= package.origin.name
        td
          abbr(title=address(package.destination.address))= package.destination.name
        td!= status_label(package)