h1= title
  
table
  tr
    th Customer
    td
      a(href="/customers/" + order.customer.id)= order.customer.name
    th Order ID
    td= order.id    
  tr
    th Amount
    td= order.amount.toCurrency()
    th Status
    td!= status_label(order)

ul.tabs
  li
    a(href="#order-items") Items
  li
    a(href="#order-packages") Packages
  li
    a(href="#order-transactions") Transactions
  li
    a(href="#order-history") History
    

#order-items.tab-panel
  table.order
    thead
      tr
        th.c
          input(type="checkbox", class="select-all", value="order-items")
        th Description
        th.r Price
        th.r Quantity
        th.r Discount
        th.r Tax
        th.r Total
        th
    tbody
      - each line in order.lines
        - if(line.type === 'Sale')
          != partial('line', {object:line, as:'line'})
        - else
          != partial('freight', {object:line, as:'freight'})
    tfoot
      tr.summary
        td(colspan=2)
          small
            a(href='/orders/' + order.id + '/refund', rel="refund-order-items") Refund selected items
        td(colspan=4, style="text-align:right;") Total:
        td.r= order.amount.toCurrency()

#order-history.tab-panel
  table
    tr
      td Order created
      td= date(order.created)
    - each event in order.history
      tr
        td= event.description
        td= date(event.created)

#order-packages.tab-panel!= partial('packages', {object:order, as:'order'})

#order-transactions.tab-panel
  table
    thead
      tr
        th Date
        th Method
        th Amount
        th State
    - each tx in order.transactions
      tr
        td= date(tx.created, 'short')
        td= tx.paymentMethod.description
        td= tx.amount.toCurrency()
        td!= status_label(tx)
        
div(style="background:#333;padding:10px;")
  form(action="/orders/" + order.id, method="post", id="update-order-status-form")
    - if(order.canAccept())
      input(type="submit", name="action", value="Accept Order")
    - if(order.canComplete())
      input(type="submit", name="action", value="Complete Order")
    - if(order.canCancel())
      input(type="submit", name="action", value="Cancel Order", class="confirm")