h1= title
  
table
  tr
    th Order ID
    td= order.id    
  tr
    th Customer
    td
      a(href="#")= order.customer.name
  tr
    th Amount
    td= order.amount.toCurrency()
  tr
    th Created
    td= date(order.created)
  tr
    th Last Modified
    td= date(order.modified)
  tr
    th Status
    td
      span.status= order.status
      
h1 Items

table.order
  thead
    tr
      th Description
      th Price
      th Quantity
      th Discount
      th Tax
      th Total
  tbody
    - each line in order.lines
      - if(line.type === 'Sale')
        != partial('line', {object:line, as:'line'})
      - else
        != partial('freight', {object:line, as:'freight'})
  tfoot
    tr.summary
      td(colspan=5) Total
      td= order.amount.toCurrency()
      