h1= title
  

table
  tr
    th Order ID
    td!= order.id    
  tr
    th Customer
    td
      a(href="#")!= order.customer.name
  tr
    th Amount
    td!= "$" + order.amount
  tr
    th Created
    td
      != order.created
      small Last updated 4 hours ago
  tr
    th Status
    td
      span.status= order.status
      
h1 Items

table
  thead
    tr
      th Description
      th Unit Price
      th Quantity
      th Line Total
  tbody
    - for(line in order.lines)
      tr
        td
          a(href="#")!= order.lines[line].description
        td!= "$" + order.lines[line].unitPrice
        td!= order.lines[line].quantity
        td!= "$" + order.lines[line].extendedPrice